<div style="height: 100vh;" class="position-relative ">
    <div style="height: 50px;width: 50px;bottom: 10%; right: 3%;" class="bg-success d-flex justify-content-center align-items-center  border-success  position-absolute   rounded-circle "><i class="fa-solid fa-plus fs-3 text-white fw-bolder "></i>
    </div>
    <div class="row p-3">
        <div class="col-lg-3 mt-3 ">
            <div class="card border-0 " style="width: 18rem;background-image: url('https://www.clipartmax.com/png/full/108-1083386_post-it-note-paper-link-free-sticky-notes-clip-art-sticky-note.png');background-size: cover;">
                <div class="card-body">
                  <h5 class="card-title overflow-hidden mb-2  fw-bold  fs-5 mt-5 ">Abid Tk</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary overflow-hidden mb-4 ">Anakkara,Palakad</h6>
                  <p class="card-text fs-6 fst-italic  fw-bolder "> <i class="fa-solid fa-phone" style="color: #63E6BE;"></i> 6238836355</p>
                  <div>
                    <button class="btn btn-primary w-100 ">View</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 mt-3 ">
            <div class="card border-0 " style="width: 18rem;background-image: url('https://www.clipartmax.com/png/full/108-1083386_post-it-note-paper-link-free-sticky-notes-clip-art-sticky-note.png');background-size: cover;">
                <div class="card-body">
                  <h5 class="card-title overflow-hidden mb-2  fw-bold  fs-5 mt-5 ">Abid Tk</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary overflow-hidden mb-4 ">Anakkara,Palakad</h6>
                  <p class="card-text fs-6 fst-italic  fw-bolder "> <i class="fa-solid fa-phone" style="color: #63E6BE;"></i> 6238836355</p>
                  <div>
                    <button class="btn btn-primary w-100 ">View</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-3 mt-3 ">
            <div class="card border-0 " style="width: 18rem;background-image: url('https://www.clipartmax.com/png/full/108-1083386_post-it-note-paper-link-free-sticky-notes-clip-art-sticky-note.png');background-size: cover;">
                <div class="card-body">
                  <h5 class="card-title overflow-hidden mb-2  fw-bold  fs-5 mt-5 ">Abid Tk</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary overflow-hidden mb-4 ">Anakkara,Palakad</h6>
                  <p class="card-text fs-6 fst-italic  fw-bolder "> <i class="fa-solid fa-phone" style="color: #63E6BE;"></i> 6238836355</p>
                  <div>
                    <button class="btn btn-primary w-100 ">View</button>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 " style="width: 18rem;background-image: url('https://www.clipartmax.com/png/full/108-1083386_post-it-note-paper-link-free-sticky-notes-clip-art-sticky-note.png');background-size: cover;">
                <div class="card-body">
                  <h5 class="card-title overflow-hidden mb-2  fw-bold  fs-5 mt-5 ">Abid Tk</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary overflow-hidden mb-4 ">Anakkara,Palakad</h6>
                  <p class="card-text fs-6 fst-italic  fw-bolder "> <i class="fa-solid fa-phone" style="color: #63E6BE;"></i> 6238836355</p>
                  <div>
                    <button class="btn btn-primary w-100 ">View</button>
                  </div>
                </div>
              </div>
        </div>
        
    </div>
</div>
